* {
    box-sizing: border-box;
}

.bb111 {
	font-style: italic;
	font-family: "Times New Roman",Georgia, Serif;
	margin:0;
    background-image: url(sakura.jpg);
	background-size: 1000px, 500px;
    margin: 0px 0px 0px 0px;
}

A:link { text-decoration: none; }
A:visited { text-decoration: line-through;}
A:active { text-decoration: line-through; }
A:hover { 
 text-decoration: underline; 
 color: #DC7093;
 } 
 class {
     text-align: center;
  }
header {
    height: 200px;
    background-color:#F7CAC9;
    }
    
footer {
     width: 10%;
	position: fixed;
	bottom: 0;
    display: flex;
    flex-direction: row;
    max-width: auto;
    max-height: 25px;
    text-align: justify;
    background: #F7CAC9;
    padding: auto;
}
img.wdth{
	width: 250px;
	height: 350px;
	}
	
.cake {
position: relative;
top: 20px;
bottom: 200px;
left: 0px; 
right: 40px; 
}


.ss111 {
    background-color: #F7CAC9;
    border-radius: 15px;
     text-align: center;
  }
  
  .ss11 {
    background-color: #F7CAC9;
    border-radius: 15px;
     text-align: center;
  }

.logo2 {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
a {
    color: #464141;
}
.rift {
    color: #ff80ad;
    font-style: italic;
}

#SLIDES{
	padding-bottom:30px;
}
#slides{
	margin:0.8;
	text-align:center;
	max-width:620px;
	max-height:620px;
	margin: 0 auto;
	margin-top: 10px;
	padding:35px;	
	word-spacing: 0px;
	background: #fcfcee;
}
img.slide{
	width: 155px;
	height: 155px;
	border-radius:3px;
	}

@media screen and (max-width: 980px) {
#slides{
	max-width:590px;
	max-height:590px;
}
img.slide{
	width: 147px;	
	height: 147px;
	border-radius:2px;
}
}
@media screen and (max-width: 650px) {
#slides{
	max-width:420px;
	max-height:420px;
}
img.slide{
	width: 105px;	
	height: 105px;
	border-radius:1px;
}
}
@media screen and (max-width: 480px) {
#slides{
	max-width: 260px;
	max-height:260px;
	padding-bottom:30px;
}
img.slide{
	width: 130px;	
	height: 130px;
	border-radius:1px;
}
.slick-dots
{
    bottom: -52px !important;

}








